@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.selectedDte{
  margin: auto;
  width: 50%;
  padding: 10px;
}

.App {
  font-family: "Poppins", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.primary {
  color: rgb(49, 94, 146);
}

.dark {
  color: hsl(11, 0%, 30%);
}

.medium-sz {
  font-size: 32px;
}

.btn {
  cursor: pointer;
  padding: 4px;
}

.ms-5 {
  margin-left: 10px;
}

.me-5 {
  margin-right: 5px;
}

.btn:hover {
  background-color: rgb(72, 145, 214);
  border-radius: 5px;
  color: white;
}

.calendar {
  margin-top: 10px;
  width: 100%;
  background: #d3d3d3;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  align-items: center;
  margin-left: 50px;
  margin-top: 10px;
  user-select: none;
}

.navbar-days {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.month{
  margin: auto;
  width: auto;
  padding: 10px;
}



.day :last-child {
  user-select: none;
  font-size: 32px;
  margin-top: 10px;
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  transition: background 100ms ease-in-out;
}

.day:hover :not(:first-child, .selected) {
  background: rgb(240, 240, 240);
}

.day:hover > .selected {
  background: rgb(244, 252, 203);
}

.selected {
  background: rgb(221, 247, 76);
}

.today :first-child {
  border-bottom: 3px solid dodgerblue;
}

.today :last-child {
  position: relative;
  top: -3px;
  color: dodgerblue;
}

.reset-today {
  margin-left: 15px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  padding: 8px;
  background: dodgerblue;
  color: white;
  border: dodgerblue;
  border-radius: 5px;
  cursor: pointer;
  transition: background 200ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset-today:hover {
  background: hsl(210, 100%, 66%);
}
